h4.command-group-title {
  pointer-events: none;
}

h4.command-group-title:before {
  display: block;
  height: 90px;
  margin-top: -90px;
  visibility: hidden;
  content: '';
}

h4.command-group-title > div {
  pointer-events: auto;
}

h4.command-group-title:hover .command-group-link {
  visibility: visible;
}

.command-group-link {
  visibility: hidden;
}

.command-group-link:hover {
  text-decoration: none;
}
