.git-command-column {
  width: 40%;
}

/* .git { } */

.git, .git-command {
  color: #999;
}

.git-remote {
  color: #00bc8c;
}

.git-url {
  text-decoration: underline;
}

.git-ref {
  font-weight: bold;
  color: #3498db;
}

.git-file {
  font-style: italic;
}

.git-string {
  font-style: italic;
  color: #00bc8c;
}

.git-highlight {
  padding: 0 5px;
  background-color: white;
  color: black;
}
